*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box; 
}
body{
    width: 100%;
    height: 100%;
}
main{
    width: 100vw;
    height: 90vh;
    background-color:gray;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    clip-path: polygon(54% 0, 100% 0, 100% 35%, 100% 100%, 83% 90%, 53% 100%, 21% 90%, 0 95%, 0 37%, 0 0); 
}
/* add program */
.manage{
    height: auto;
    width: 400px;
    background-color:white;
    color:black;
}

.my_lable{
    font-size: 1.4rem;
    margin: 7px;
    padding: 5px;
}
.select_eve #event {
    font-size: 1.2rem;
    height: 40px;
    width: 150px;
    margin: 15px;
    padding: 5px;
    color: white;
    border: 2px solid black;
    border-radius: 5px;
    background-color: #1e90ffe3;
    cursor: pointer;
}

/* for all heading ,inputs ,label, section ,button*/
.msg{
    color: green;
    text-align: center;
    background-color: lightcyan;
    padding: 5px;
}

.manage{
    height: auto;
    width: 400px;
    background-color:white;
    color:black;
}
.heading{
    color: #3410c4;
    background-color: darkseagreen;
    text-align: center;
    text-transform: uppercase;
    padding: 15px;
    font-size: 2rem;
}
.my_lable{
    font-size: 1.4rem;
    margin: 7px;
    padding: 5px;
}

.my_input{
    width: 230px;
    height: 40px;
    margin: 15px 0px;
    padding: 10px;
    font-size: 1rem;
    font-weight: 600;
    border: 1.7px solid #2f3542;
    border-radius: 5px; 
}

.sub_btn{
    width: 100px;
    height: 40px;
    display: block;
    margin: 20px auto;
    padding: 10px;
    font-size: 1rem;
    font-weight: 600;
    border: 2px solid black;
    background-color: #00d8d6;
    border-radius: 20px;
    cursor: pointer;
}


.sub_btn:hover{
    box-shadow: inset 2px 2px 5px 1px rgba(0, 0, 0, 0.486), inset -2px -2px 5px 1px rgba(0, 0, 0, 0.486);
}