/* table css....*/
#detail_heading{height: 60px;
                text-align: center;
                font-size: 2rem;
                font-weight: bold;
                color: rgb(128, 0, 60);
                background-color: greenyellow;
                padding: 15px;
}
.select_eve{
    width:350px;
    display: block;
    margin: auto;
}
.select_eve label{
    font-size: 1.5rem;
    margin: 15px;
    padding: 5px;
}
.select_eve #event {
    font-size: 1.2rem;
    height: 40px;
    width: 150px;
    margin: 15px;
    padding: 5px;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    background-color:#0abde3;
    cursor: pointer;
}
#table{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px 0px 25px 0px;
}
#table table {
    border-collapse: collapse;
    font-size: 1.4rem;
    width:50%;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    box-shadow: 0 0 25px rgb(0 0 0 / 0.4);
}
#table table  th{
    background-color: #009879;
    color: white;
    text-align: left;
    font-weight: bold;
    padding: 12px 15px;
}
#table table tr{
    border-bottom: 1px solid #dddddd;
}
#table table tr td{
    padding: 12px 15px;
}
#table table tr:nth-of-type(even){
    background-color:#f3f3f3;
}
#table table tr:last-of-type{
    border-bottom: 2px solid #009879;
}
#table table tr td button{
    width: 90px;
    height: 40px; 
    font-size: 1rem;
    background-color: #009879;
    color: white;
    border: none;
    border-radius: 20px;
}
#table table tr td button:hover{
    border: 2px solid black;
    background-color: #37af97;
}